body {
  font-family: arial, sans-serif;
}

.container {
  max-width: 650px;
  min-width: 500px;
  margin: 0 auto;
}

h1 {
  color: #878787;
  font-size: 26px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: lightseagreen;
  font-size: 16px;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

.vanilla-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.vanilla-app {
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  padding-bottom: 0;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 48px;
  width: 48px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 12px;
  top: -34px;
}

.overview {
  margin-bottom: 20px;
}
